.blogContainer {
  text-align: left;
  align-self: stretch;
  margin: 16px 0;
  line-height: 1.5;

  font-family: "Source Serif Pro", Merriweather, Georgia, serif;
}

.blogHeading1 {
  align-self: flex-start;
  text-align: left;

  font-size: 36px;
  font-weight: 600;
}

.blogHeading2 {
  align-self: flex-start;
  text-align: left;

  font-size: 28px;
  font-weight: 700;
}

.blogHeading3 {
  align-self: flex-start;
  text-align: left;

  font-size: 28px;
  font-weight: 600;
}

.blogImage {
  margin-top: 32px;
  max-width: 100%;
  max-height: 1080px;
}

.blogTable {
  font-family: Inter, Helvetiva, sans-serif;
  border: 2px solid #ccc;
  border-collapse: collapse;
}

.blogTh {
  padding: 4px 8px;

  text-align: center;
  background-color: #222;
  border-bottom: 2px solid #ccc;
}

.blogTd {
  padding: 2px 8px;

  border-bottom: 2px solid #888;
}

.caption {
  text-align: center;
}

.footnoteDefinition {
  margin: 8px 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.backToRef {
  margin: 0 32px;
  font-size: smaller;
}

.footnoteBody > p {
  margin-top: 0;
}

.footnoteBody {
  line-height: 115%;
}

@media (max-width: 1200px) {
  .blogHeading1 {
    font-size: 28px;
  }

  .blogHeading2 {
    font-size: 24px;
  }

  .blogHeading3 {
    font-size: 24px;
  }

  .blogContainer > pre {
    margin: 4px 0;
    padding: 8px;
  }

  .blogImage {
    margin-top: 24px;
    max-height: 720px;
  }
}

@media (max-width: 750px) {
  .blogHeading1 {
    font-size: 24px;
  }

  .blogHeading2 {
    font-size: 20px;
  }

  .blogHeading3 {
    font-size: 20px;
  }

  .blogContainer > pre {
    margin: 0;
    padding: 4px;
  }

  .blogImage {
    margin-top: 16px;
    max-height: 480px;
  }
}