.heading {
  align-self: flex-start;
  text-align: left;

  font-size: x-large;
  font-weight: 600;
}

.subHeading {
  align-self: flex-start;
  text-align: left;

  font-size: large;
  font-weight: 700;
}

.subSubHeading {
  align-self: flex-start;
  text-align: left;

  font-size: large;
  font-weight: 600;
}

.codeBlock {
  align-self: stretch;
  margin: 8px 0;
  padding: 16px;
  text-align: left;

  font-family: Menlo, monospace;
  background-color: #333;
}

.codeBlockLine {
  margin: 2px 0;
}

.inlineCode {
  font-family: Menlo, monospace;
  background-color: #333;
}

.emphasis1 {
  font-weight: 700;
}

.emphasis2 {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.footnoteAsterisk {
  position: relative;

  color: #f70;
}

.footnote {
  position: absolute;
  opacity: 0;
  left: -100px;
  bottom: 40px;
  width: 400px;
  padding: 4px 8px;
  z-index: -1;

  font-weight: 400;
  font-style: normal;
  color: #ddd;
  background-color: #333;
  border-radius: 6px;
  transition: 0.15s ease-in-out;
}

.footnoteAsterisk:hover .footnote {
  opacity: 1;
  z-index: 1;
}

.footnote:hover {
  visibility: visible;
}

.versionSelect {
  margin: 0 4px;

  border: none;
  border-radius: 0;
  outline: none;
  font-style: oblique;
  background-color: #111;
}

/* remove dropdown arrow */
.versionSelect {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.versionSelect::-ms-expand {
  display: none;
}

.versionOption {
  background-color: #111;
}

.insertImage {
  margin-top: 32px;
  max-width: 100%;
  max-height: 1080px;
}

@media (max-width: 1200px) {
  .codeBlock {
    padding: 8px;
  }

  .insertImage {
    max-height: 720px;
  }
}

@media (max-width: 600px) {
  .codeBlock {
    margin: 0;
  }
  
  .insertImage {
    max-height: 480px;
  }
}