.blogContainer {
  text-align: left;
  align-self: flex-start;
  margin: 16px 0;
  line-height: 1.5;

  font-family: "Source Serif Pro", Merriweather, Georgia, serif;
}

.blogContainer > h1 {
  align-self: flex-start;
  text-align: left;

  font-size: 36px;
  font-weight: 600;
  font-family: Inter, -apple-system, Helvetica, sans-serif;
}

.blogContainer > h2 {
  align-self: flex-start;
  text-align: left;

  font-size: 28px;
  font-weight: 700;
  font-family: Inter, -apple-system, Helvetica, sans-serif;
}

.blogContainer > h3 {
  align-self: flex-start;
  text-align: left;

  font-size: 28px;
  font-weight: 600;
  font-family: Inter, -apple-system, Helvetica, sans-serif;
}

.blogContainer > pre {
  align-self: stretch;
  margin: 8px 0;
  padding: 16px;
  text-align: left;
  line-height: 120%;

  font-family: Menlo, monospace;
  background-color: #333;
}

.blogContainer > code {
  font-family: Menlo, monospace;
  background-color: #333;
}

.blogContainer > img {
  margin-top: 32px;
  max-width: 100%;
  max-height: 1080px;
}

@media (max-width: 1200px) {
  .blogContainer > h1 {
    font-size: 28px;
  }

  .blogContainer > h2 {
    font-size: 24px;
  }

  .blogContainer > h3 {
    font-size: 24px;
  }

  .blogContainer > pre {
    margin: 4px 0;
    padding: 8px;
  }

  .blogContainer > img {
    margin-top: 24px;
    max-height: 720px;
  }
}

@media (max-width: 750px) {
  .blogContainer > h1 {
    font-size: 24px;
  }

  .blogContainer > h2 {
    font-size: 20px;
  }

  .blogContainer > h3 {
    font-size: 20px;
  }

  .blogContainer > pre {
    margin: 0;
    padding: 4px;
  }

  .blogContainer > img {
    margin-top: 16px;
    max-height: 480px;
  }
}