.background {
  color: #677;
  background-color: #114;
  font-family: "Source Serif Pro", serif;
}

.headerLinks {
  width: 90%;

  text-align: left;
}

.postContainer {
  width: 100%;
}

.pageTitle {
  font-family: inherit;
}

.drawingOuter {
  margin: 2px 0;
  width: 90%;

  text-align: left;
}

.drawingDate {
  margin: 0;
}

.drawingText {
  color: #181;
  font-weight: 500;
}

@media (max-width: 1200px) {
}

@media (max-height: 600px) {
}

@media (max-width: 750px) {
}