html, body {
  padding: 0;
  margin: 0;
  font-family: Inter, "Helvetica Neue", Helvetica, -apple-system, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, input {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}
