html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: #f70;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, input, select, option {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

img {
  border-radius: 8px;
}

* {
  box-sizing: border-box;
}
