.menusContainer {
  align-self: stretch;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: flex-start;
}

.linksMenu {
  flex: 1;
  margin: 32px;
  display: flex;
  flex-flow: column;
  padding: 16px 24px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  border: 2px solid #ddd;
  border-radius: 24px;
}

.plainLinksMenu {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.menuTitle {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  cursor: default;
}

.menuItem {
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: stretch;
}

.thumbnail {
  height: 96px;
  width: 96px;
  min-width: 96px;
  margin: 16px;
}

.itemText {
  margin: 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemTitle {
  font-size: 26px;
  font-weight: 500;
}

.itemMetadata {
  font-size: 20px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moreLink {
  align-self: flex-end;

  font-size: 20px;
  font-weight: 400;
  color: #f70;
  cursor: pointer;
}

.moreLink:hover {
  text-decoration: underline;
}

.cardItem {
  align-self: stretch;
  margin: 16px 0;
  padding: 8px;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: stretch;

  border: 2px solid #ccc;
  border-radius: 24px;
  transition: background-color ease-in-out 0.25s;
}

.cardItem:hover {
  background-color: #333;
  transition: background-color ease-in-out 0.25s;
}

.footerControls {
  margin: 32px 0 16px 0;
  align-self: stretch;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;

  user-select: none;
}

.pageSwitcher {
  width: 100px;
  padding: 4px 8px;

  font-size: 24px;
  text-align: center;
  color: #f70;
  border-radius: 8px;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
  transition: back ease-in-out 0.3s;
}

.pageSwitcher:hover {
  background-color: #333333;
  transition: background-color ease-in-out 0.3s;
}

.pageSwitcherInactive {
  width: 100px;
}

.filterByTag {
  margin-bottom: 16px;
  padding: 4px 8px;

  font-size: 24px;
  color: #aaa;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  border-radius: 8px;
}

.tagsDropdown {
  align-self: center;
  margin-bottom: 16px;
  padding: 8px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  font-size: 20px;
  border-radius: 12px;
  color: #aaa;
  background-color: #333333;
}

.resetTags {
  align-self: center;
  margin: 4px;

  cursor: pointer;
}

.filterAndDropdown {
  position: absolute;
  right: 32px;
  top: 210px;
  width: 200px;
  height: max-content;
}

@media (max-width: 1200px) {
  /* Switch from two side-by-side columns to a single column on small-to-medium
     devices. */
  .menusContainer {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .linksMenu {
    margin: 24px;
    padding: 8px 16px;
    border-radius: 12px;
  }

  .menuTitle {
    margin: 8px;
    font-size: 32px;
  }

  .thumbnail {
    height: 64px;
    width: 64px;
    min-width: 64px;
    margin: 8px;
  }

  .pageSwitcher {
    padding: 4px;
    font-size: 20px;
    border-radius: 6px;
  }

  .itemTitle {
    font-size: 20px;
  }

  .itemText {
    margin: 8px;
  }

  .itemMetadata {
    font-size: 16px;
  }

  .moreLink {
    font-size: 16px;
  }

  .filterByTag {
    margin-bottom: 8px;
    align-self: normal;

    font-size: 20px;
    cursor: pointer;
    transition: background-color ease-in-out 0.25s;
  }

  .filterByTag:hover {
    background-color: #333333;
    transition: background-color ease-in-out 0.25s;
  }

  .tagsDropdown {
    font-size: 16px;
  }

  .hiddenTagsDropdown {
    visibility: hidden;
  }

  .filterAndDropdown {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
  }
}

@media (max-width: 750px) {
  .linksMenu {
    margin: 24px;
    padding: 8px 12px;
    border-radius: 8px;
  }

  .menuTitle {
    margin: 8px;
    font-size: 24px;
  }

  .itemTitle {
    font-size: 14px;
  }

  .thumbnail {
    height: 48px;
    width: 48px;
    min-width: 48px;
    margin: 8px;
  }

  .itemText {
    margin: 8px;
  }

  .pageSwitcher, .pageSwitcherInactive {
    width: 80px;
    font-size: 16px;
  }

  .filterByTag {
    font-size: 16px;
  }

  .tagsDropdown {
    font-size: 14px;
  }
}
