.menusContainer {
  align-self: stretch;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: flex-start;
}

.linksMenu {
  flex: 1;
  margin: 32px;
  display: flex;
  flex-flow: column;
  padding: 16px 24px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  border: 2px solid #ddd;
  border-radius: 24px;
}

.plainLinksMenu {
  flex: 1;
  display: flex;
  flex-flow: column;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menuTitle {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  cursor: default;
}

.menuItem {
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: stretch;
}

.thumbnail {
  height: 96px;
  width: 96px;
  margin: 16px;
}

.itemText {
  margin: 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemTitle {
  font-size: large;
  font-weight: 500;
}

.itemMetadata {
  font-size: medium;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moreLink {
  align-self: flex-end;

  font-size: medium;
  font-weight: 400;
  color: #f70;
  cursor: pointer;
}

.moreLink:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  /* Switch from two side-by-side columns to a single column on small-to-medium
     devices. */
  .menusContainer {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .linksMenu {
    margin: 24px;
    padding: 8px 16px;
    border-radius: 12px;
  }

  .menuTitle {
    margin: 8px;
    font-size: large;
  }

  .thumbnail {
    height: 64px;
    width: 64px;
    margin: 8px;
  }

  .itemText {
    margin: 8px;
  }

  .itemTitle {
    font-size: large;
  }

  .itemMetadata {
    font-size: medium;
  }

  .moreLink {
    font-size: medium;
  }
}

@media (max-width: 600px) {
  .linksMenu {
    margin: 24px;
    padding: 8px 12px;
    border-radius: 8px;
  }

  .menuTitle {
    margin: 8px;
    font-size: large;
  }

  .thumbnail {
    height: 48px;
    width: 48px;
    margin: 8px;
  }

  .itemText {
    margin: 8px;
  }

  .itemTitle {
    font-size: medium;
  }

  .itemMetadata {
    font-size: small;
  }

  .moreLink {
    font-size: small;
  }
}
